:root{
    --primary-color: #0d6efd;
    --secondary-color: #8d949a;
    --success-color: #198754;
    --danger-color: #dc3545;
    --wanrning-color:#ffc107;
    --info-color: #0dcaf0;
    --dark-color: #212529;
    --while-color:#fff;
    --black-color:#000;
    --border-color:#d8e3e7;
    --border1-color:#7868e6;
    --bg-card-color: #e2e5ec;
    --bg-card1-color: #f6f8fa;
    --bg-color:#ffffff;
    --bg2-color: #fff5fd;
}
body{
    background:var(--bg-color);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover; 
}

body{
    background: var(--cloud-color);
}
@keyframes zoom-in {
    from{transform: scale(0) }
    to{ transform: scale(1)}
}
@keyframes zoom-out {
    from{ transform: scale(1) }
    to{ transform: scale(0)}
}
@keyframes slide-down {
    from{ transform: translateY(-50%) }
    to{ transform: translateY(0)}
}
.register-modal{
    background: var(--cloud-color) ;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Poppins', sans-serif;
    
}
.register-modal .modal-wrapper{
    width: 100%;
    max-width: 500px;
    border-radius: 6px;
    background: var(--light-color);
    position: relative;
    animation: slide-down 0.4s;
}
.modal-wrapper .modal-title{
    width: 100%;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}
.modal-wrapper .modal-title img{
    background: var(--success-color);
}
.modal-title .title{
    color: var(--success-color);
    border-bottom: 3px solid var(--success-color);
}
.register-modal .modal-title i.fa.fa-times-circle{
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.7;
    color: var(--danger-color);
    z-index: 2;
}
.modal-title i.fa.fa-times-circle:hover{
    cursor: pointer;
    opacity: 1;
}
.modal-form{
    padding: var(--main-padding) 0;
}
.register-form{
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height:500px;
    overflow-y: auto;
}
.register-form .input-box{
    width: 48%;
    margin-bottom: 2%;
}
.input-box input{
    width: 100%;
    padding: 11px 30px 11px  11px;
    border-radius: 6px;
    outline: none;
    border: 1px solid var(--secondary-color);
}
.input-box .input-field{
    position: relative;
    display: flex;
    align-items: center;
}
.input-box .input-field i{
    position: absolute;
    right: 10px;
    z-index: 9999;
    display: none;
}
.input-box.success i.fa.fa-check-circle{
    display: block;
    color: var(--success-color);
}
.input-box.danger i.fa.fa-exclamation-circle{
    display: block;
    color: var(--danger-color);
}
.input-box input:focus{
    border: 1px solid var(--warning-color);
}
.input-box.success input{
    border: 1px solid var(--success-color);
}
.input-box.danger input{
    border: 1px solid var(--danger-color);
}
.input-box small{
    color: var(--danger-color);
    font-size: 13px;
    display: none;
}
.input-box.danger small{
    display: block;
}
.input-box .selection-date{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-box .selection-date select{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
}
.input-box .selection-date select+select{
    margin-left: 10px;
}
.gender{
    width: 100%;
}
.gender-box{
    display: flex;
    justify-content: space-between;
}
.gender-box label{
    width: 100%;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    border-radius: 6px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gender-box  label input{
    display: none;
}
.gender-box label span{
    text-transform: capitalize;
    font-size: 13px;
}
.gender-box label .custom-radio{
    width: 15px;
    height: 15px;
    display:flex;
    justify-content: center;
    align-items:center;
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--success-color);
}
.gender-box label .custom-radio::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background: var(--success-color);
    display: none;
}
.gender-box label input[type='radio']:checked+.custom-radio::after{
    display: block;
}

.gender-box label+label{
    margin-left: 10px;
}
.register-form .input-box:nth-child(3){
    width: 100%;
}
.register-form .input-box:nth-child(4){
    width: 100%;
    display: none;
}
.register-form .input-box:nth-child(5),
.register-form .input-box:nth-child(6){
    width: 100%;
}
.register-form .input-box:last-child{
    width: 100%;
}
.policies{
    width: 100%;
    text-align: left;
    padding-bottom: 14px;
}
.policies .policy-text{
    display: block;
    font-size: 12px;
    color: var(--secondary-color);
}
.signup-btn{
    padding: 14px 16px;
    width: 100%;
    border: none;
    outline: none;
    background: var(--success-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: bold;
    font-family: inherit;
    border-radius: 6px;
    cursor: pointer;
}

